<div class="page">
    <h1 class="logo">Doctorz</h1>
    <h6 class="mobnumber">Registered mobile number</h6>
    <form [formGroup]="numberForm" class="number">
        <!-- <div class="text-justify"> -->
        <textarea (keyup)="keyPress($event)" required type="text" formControlName="phonenumber" class="form-control mobile_number" columns="5" name="phonenumber" 
        maxlength="10" autofocus> </textarea>
    <div *ngIf="submitted && f['phonenumber'].errors" class="invalid-feedback"></div>
    <div *ngIf="f['phonenumber'].errors" class="check">*Phone number is required </div>
    <!-- <div *ngIf="f['phonenumber'].errors"> Phone number must be at least 10 numbers </div> -->
        <!-- </div> -->
    </form>
    </div>