<div class="page">
    <h1 class="logo">Doctorz</h1>
    <h6 class="clinks"> Clinics </h6>
    <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
          </ng-container>
    </table> -->
   <div> 
    <select (click)="onSave($event)" class="form-select" multiple aria-label="multiple select example" >
        <option value="'0">The Minute Medical</option>
        <option disabled>──────────────────────</option>
        <option value="1">First Priority Medical</option>
        <option disabled>──────────────────────</option>
        <option value="2">Treatment Solutions</option>
        <option disabled>──────────────────────</option>
        <option value="3">Union Family Health Center</option>
        <option disabled>──────────────────────</option>
        <option value="4">The Vitality Visit</option>
        <option disabled>──────────────────────</option>
        <option value="5">Healing Helpers Medical Group</option>
        <option disabled>──────────────────────</option>>
        <option value="6">Bdy Regenerate Clinic.</option>
      </select>
</div>
</div>