<div class="page">
    <h1 class="logo">Doctorz</h1>
   <p class="hppy">{{clinicName}}</p>
   <div class="keypad-container">
    <div class="keyValue">
        <i class="fa fa-inr" aria-hidden="true"></i><span>{{amount.join('')}}</span> 
    </div>
    <div (click)="onSave($event)" class="key-container">
      <div class="keybtn">
        1 
      </div>
      <div class="keybtn">
        2
      </div>
      <div class="keybtn">
        3
      </div>
      <div class="keybtn">
        4
      </div>
      <div class="keybtn">
        5
      </div>
      <div class="keybtn">
        6
      </div>
      <div class="keybtn">
        7
      </div>
      <div class="keybtn">
        8
      </div>
      <div class="keybtn">
        9
      </div>
      <div class="keybtn">
        .
      </div>
      <div class="keybtn">
        0
      </div>
      <div class="keybtn" (click)="backstrok($event)">
        <
      </div>
    </div>
  </div>
  
</div>